spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/android
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true