<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".ApplicationContext"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/jjickmuck"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/jjickmuck"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="detunremqu" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.ChangePwd"/>
        <activity android:name=".login.ChangePwdConfirm"/>
        <activity android:name=".owner.ui.menu_manage.AddMenuRequest"/>
        <activity android:name=".signup.SignUp"/>
        <activity android:name=".user.UserMain"/>
        <activity android:name=".user.qr.ScanQRActivity"/>
        <activity android:name=".user.map.MapActivity"/>
        <activity android:name=".user.qr.TabActivity"/>
        <activity android:name=".user.map.ShopTabActivity"/>
        <activity android:name=".signup.SignUpUserRequest"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".signup.OwnerSignUpRequest"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="android:screenOrientation"
            android:stateNotNeeded="true">
        </activity>
        <activity android:name=".owner.OwnerMain"/>
        <activity android:name=".menu.Menu"/>
    </application>

</manifest>